---
layout: default
---
<!DOCTYPE html>
<html>
<body>
  <head>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N09Z60DQWM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N09Z60DQWM');
</script>
    </head>
  <meta charset="utf-8">
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/photo_Dossa.jpg" alt="Home" width="90%">
  </div>
  <div class="col-md-6">
    <h3 style="color:Teal"> Welcome to my home page!</h3>
    <p> I'm PhD candidate in applied statistics at <a href="https://math.uqam.ca/">Université du Québec à Montréal</a>.</p>
    
      <!--<p> I will be joining the International Monetary Fund (IMF) as an economist in the 
<a href="https://www.imf.org/en/About/Recruitment/working-at-the-imf/economist-program">Economist Program (EP)</a> in September 2022.  <p> -->
    
     <p> <b>Fields</b>: Applied Statistics and Genetic Statistics</p>
       <p> My Research focuses on applied statistics, more specifically in genetic statistics for genomic data.</p> 
         <p> Please see my <a href= " /assets/Cv_Roland_Apr-2024_En.pdf">CV</a> for more details.</p>
        </div>
  </div>
 {% include contact.html %} 
  
<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
</body>
</html>
