---
layout: default
---
<!DOCTYPE html>
<html>
<body>

  
  <div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>   <a href="https://karimoualkacha.uqam.ca/"> Karim Oualkacha</a> (chair)</h5>
   <p style="line-height:0.5em;">Université du Québec à Montréal</p>
     <p style="line-height:0.5em;">Department of mathmatics</p>
    <p style="line-height:0.5em;">201, Ave Président-Kennedy</p>
     <p style="line-height:0.5em;">Montreal,QC, H2X 3Y7, Canada</p>
      <p style="line-height:0.5em;">Tel: 1-514-987-3000, poste 5226 </p>
      <p style="line-height:0.5em;color:Teal;">oualkacha.karim@uqam.ca</p>
  </div>
  <div class="col-md-6">
    <h5>   <a href="https://www.mat.ulaval.ca/departement-et-professeurs/direction-personnel-et-etudiants/professeurs/fiche-de-professeur/show/lakhal-chaieb-lajmi/"> Lajmi Lakhal-Chaieb</a> (co-chair)</h5>
       <p style="line-height:0.5em;">Université Laval</p>
  <p style="line-height:0.5em;">Department of mathmatics and Statistics</p>
     <p style="line-height:0.5em;">1079 Pavillon Alexandre-Vachon</p>
      <p style="line-height:0.5em;">Québec (Québec), G1V 0A6, Canada</p>
       <p style="line-height:0.5em;">Tel: +1 418 656-2131, poste 402977</p>
       <p style="line-height:0.5em;color:Teal;">lakhal@mat.ulaval.ca</p>
          </div>
     <!-- <div class="col-md-6">
     <h5>   <a href="https://scholar.google.ca/citations?user=l-_wOOEAAAAJ&hl=en"> Emanuela Cardia</a></h5> 
  <p style="line-height:0.5em;">Université de Montréal</p>
       <p style="line-height:0.5em;">Department of economics</p>
       <p style="line-height:0.5em;">3150, Jean-Brillant street</p>
       <p style="line-height:0.5em;">Montreal,QC, H3C 3J7, Canada</p>
      <p style="line-height:0.5em;">Tel: 418 656-2131, poste 402977</p>
      <p style="line-height:0.5em;color:Teal;">emanuela.cardia@umontreal.ca</p>
     </div> -->
  </div>
</body>
</html>

  
