---
layout: default
---
   <html>
   <body>
      
       <div class="col-md-12">

      <h4 style="color:Teal"> Working papers</h4>
      
    <h5><a href= "/assets/Suddenstops_Afavi.pdf"> Generalized Functional Linear Mixed Models for Binary Traits in Family-Based Designs via Copulas</a> (JMP), 2021,  <a href= "/assets/Suddenstops_Slides_Afavi.pdf"> Slides</a>  </h5>
  
       <p align="justify">In this work, we propose a flexible family-based association test for rare variants and a binary trait using a new marginal 
          generalized functional linear mixed model with a Gaussian Copula (CBGF) while adjusting for covariates. To assess the performance of our 
          newly introduced statistics, simulation studies were conducted to evaluate type I error rates and power levels. We make a comparison with 
          some other existing statistical methods for family-based association tests.</p> 
          
    <h5><a href="/assets/HANK_TANK_Afavi.pdf" > A Novel Rare Variants Association Test for Binary Traits in Family-Based Designs via Copulas</a>, 2022, <a href= "/assets/HANK_TANK_slides_Afavi.pdf"> Slides</a>  </h5>
   
    <p align="justify"> With the cost-effective technology in whole-genome sequencing (WGS), more rare variants studies are being investigated 
       to characterize the genetic between individuals. Several methods which groupe variants, also called gene-based approaches, are developed. 
       The burden test and the sequence kernel association test have been proposed as variant-set tests for unrelated samples at the beginning 
       and after extended for family data. Family data have been shown to be powerful when analysing rare variants. For this raison, many rare 
       variants association tests have been suggested for family-based designs. In this work, we propose a flexible family-based association test 
       for rare variants and a binary trait using marginal generalized linear mixed models and a Gaussian Copula. The latter is employed to model 
       the dependence between relatives. An analytic score-type test is derived. Through simulations, we show that our method can achieve greater 
       power than existing approaches.</p> 
  
        <h4 style="color:Teal">Works in progress</h4>
           <p>  Financial instability, price instability, and inequality  </p>
           <p>US repo market and fiscal policy, with Carolyn Sissoko </p> 
   </div>
     </body>
   </html>
 
