---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 style="color:Teal;"">Lecturer, <a href="https://etudier.uqam.ca/">Université du Québec à Montréal</a></h5>
    <p> Introduction aux méthodes quantitatives appliquées à la gestion (Undergraduate), Winter 2021, Winter 2022 </p>
     <!-- <p> Introduction to macroeconomics (undergraduate), Winter 2021 </p> -->
   </div>
  <div class="col-md-12">
  <h5 style="color:Teal">Teaching Assistant,  <a href="https://etudier.uqam.ca/">Université du Québec à Montréal</a></h5>
  <p> Introduction aux méthodes quantitatives appliquées à la gestion (Undergraduate), Winter 2020,  Fall 2020, Fall 2021  </p> 
  <p> Méthodes statistiques (Undergraduate), Winter 2019, Summer 2019, Fall 2019, Fall 2021 </p> 
  <p> Statistique I (Undergraduate), Summer 2017, Summer 2018 </p> 
  <!--<p> Quantitative methods for economists (Undergraduate), Fall 2020 </p> -->
  <!-- <p> Principle of economics (Undergraduate), Summer 2018, Fall 2018, Winter 2019 </p> -->
  </div>
  <div class="col-md-12">
  <h5 style="color:Teal">Teaching Assistant,  <a href="https://africanschoolofeconomics.com/"> African School of Economics </a> </h5>
  <p> Introduction to IEES Survey (Msc), Fall 2016,  </p> 
  </div>

</div>
  
  


